#Written by MATE Terminal 1.20.2

[MATE Terminal Configuration]
Version=1
CompatVersion=1
Windows=Window0;

[Window0]
MenubarVisible=false
Role=mate-terminal-window-2426--652532791-1583839891
ActiveTerminal=Terminal0x5589003d43a0
Geometry=115x24+270+224
Terminals=Terminal0x5589003d43a0;

[Terminal0x5589003d43a0]
ProfileID=default
WorkingDirectory=/home/akhil
Zoom=1
Width=115
Height=24
